.welcome-statement {
    font-size: 35px;
    margin-top: -200px;

    color: #2d76dc;
    text-shadow: 0 1px 0 hsl(174, 5%, 50%),
        0 2px 0 hsl(174, 5%, 65%),
        0 3px 0 hsl(174, 5%, 60%),
        0 2px 0 hsl(174, 5%, 56%),
        0 2px 0 hsl(174, 5%, 54%),
        0 3px 0 hsl(174, 5%, 52%),
        0 3px 0 hsl(174, 5%, 51%),
        0 3px 0 hsl(174, 5%, 50%),
        0 0 3px rgba(0, 0, 255, .03),
        0 1px 2px rgba(0, 0, 255, .1);
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

.container {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field select,
.form input[type="password"],
.form input[type="text"] {
    width: 300px;
    padding: 5px;
    border: 2px solid var(--input-border);
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    display: inline-block;
}

.input-field select {
    width: 100%;
}

.input-field select:focus,
.form input[type="password"]:focus,
.form input[type="text"]:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
}

.form button:hover {
    background-color: blue;
}

.form label {
    display: flex;
    text-align: left;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

/* clear default show pssword icon  */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button {
    display: none;
}

/* Password input container */
.password-input-container {
    position: relative;
}

/* Password toggle icon */
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-78%);
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease;
}

.toggle-password:hover {
    color: #666;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carry {
    display: flex;
    width: 600px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: relative;
    border: 10px rebeccapurple;
    box-shadow: 5px 5px 20px 15px rgba(0, 0, 0, 0.2);
}

.content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.description {
    margin-top: -20px;
    font-size: 13px;
}

.form input[type="email"] {
    width: 300px;
    padding: 5px;
    border: 2px solid var(--input-border);
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    display: inline-block;
}

.form input[type="email"]:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
}

.form button {
    padding: 10px 20px;
    background-color: #2d76dc;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

.form input[type="email"]::placeholder {
    color: rgba(61, 58, 58, 0.4);
}

.alert {
    font-size: 13px;
    text-align: left;
}