/* Import "Poppins" google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --background_white: #fff;
    --background_grey: #f0f0f0;
    --black: #222;
    --logo-blue: #34478e;
    --light-blue: rgba(15, 90, 170, 0.8);
    --dark-blue: rgba(10, 59, 110, 0.8);
    --error-red: rgba(255, 34, 22);
}

/* Animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* General Page Styling */
* {
    box-sizing: border-box;
    color: var(--black);
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--background_grey);
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 30px 0px;
}

/* Form */
.recruitment-form {
    font-family: 'Rubik', sans-serif;
    max-width: 95%;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    box-shadow: 5px 5px 20px 15px rgba(0, 0, 0, 0.2);
}

/* Left part content */
.visualization-side {
    font-family: 'Poppins', sans-serif;
    width: clamp(min(100px), 400px, max(400px));
    background-image: linear-gradient(rgba(227, 227, 227, 0.9), rgba(26, 25, 25, 0.8)), url(../images/form_cover.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
}

/* logo image */
.logo {
    margin-top: 60px;
    max-width: 250px;
}

.logo img {
    width: 100%;
    height: 200px;
}

/* Slogan Text */
.slogan {
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.slogan p {
    color: white;
    margin-bottom: 10px;
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, 0.3);
}

.circle {
    margin: 40px auto;
    min-height: 140px;
    max-width: 140px;
    border-radius: 100%;
    background: var(--black);
    display: flex;
}

.circle h1 {
    margin-left: -35px;
    color: white;
    text-align: center;
    line-height: 30px;
    /* transform: scale(1) rotate(-5deg) skewX(1deg) skewY(1deg); */
    text-shadow: 1px 1px var(--logo-blue), 2px 2px var(--logo-blue), 3px 3px var(--logo-blue), 4px 4px var(--logo-blue),
        5px 5px var(--logo-blue), 6px 6px var(--logo-blue), 7px 7px var(--logo-blue), 8px 8px var(--logo-blue), 9px 9px #072e56;
}

.circle span {
    color: white;
}

span:nth-child(3) {
    font-size: 45px;
}

span:nth-child(1),
span:nth-child(5) {
    font-size: 65px;
}

.circle img {
    position: relative;
    transform: translateX(-15px) translateY(20px);
    /* transform: rotate3d(1,0,0,180deg) translateX(100px) translateY(0px); */
    width: 100%;
    height: 55px;
    transition: 0.6s ease-out;
}

.circle:hover img {
    /* transform: translateX(-15px) translateY(20px); */
    transform: rotate3d(1, 0, 0, 180deg) translateX(-15px) translateY(-20px);
}

/* Right part application */
.application-side {
    position: relative;
    background-color: var(--background_white);
    max-width: 620px;
    padding: 50px;
    user-select: none;
    -webkit-user-select: none;
}

/* Input fields*/
form .input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form .input-field label {
    margin-bottom: 2px;
    font-weight: 500;
}

textarea {
    resize: none;
}

form .input-field input,
select,
textarea {
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    border: solid 2px rgb(182, 182, 182);
    padding: 5px 8px;
    outline: none;
    transition: 0.5s;
}

form .input-field input:focus,
select:focus,
textarea:focus {
    border: solid 2px var(--light-blue);
}

form .mulitple-input,
form .triple-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form .mulitple-input .input-field {
    width: 49%;
}

.triple-input .input-field {
    width: 32%;
}

/* Error Message */

.error-message {
    margin-top: 5px;
    margin-bottom: 5px;
    animation: appear .5s ease-in;
}

.error-message span {
    color: var(--error-red);
    font-size: 16px;
    max-width: 100%;
}

/* Submit Button */
.submit,
.back_home {
    margin-top: 25px;
    text-align: center;
}

.submit button {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-blue);
    border-radius: 5px;
    border-width: 0px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-blue) 0 -3px 0 inset;
    color: white;
    cursor: pointer;
    height: 42px;
    padding: 0 18px;
    transition: box-shadow .25s, transform .25s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 20px;
}

.submit img {
    position: relative;
    top: 4px;
    margin-left: 3px;
    width: 22px;
    height: 22px;
}

.submit button:hover,
.back_home a:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-blue) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.submit button:active,
.back_home a:active {
    box-shadow: var(--dark-blue) 0 3px 7px inset;
    transform: translateY(2px);
}

.submit button:hover img,
.back_home:hover img {
    animation: rotate 1.5s ease-out;
}

/* Succession page */
.succession-side {
    background-color: var(--background_white);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.succession-side img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.succession-side h1 {
    font-size: 45px;
}

.succession-side p {
    font-size: 20px;
}

.back_home a {
    display: flex;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-blue);
    border-radius: 5px;
    border-width: 0px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-blue) 0 -3px 0 inset;
    color: white;
    cursor: pointer;
    height: 40px;
    padding: 6px 12px;
    transition: box-shadow .25s, transform .25s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    font-size: 16px;
}

.back_home img {
    position: relative;
    top: 3px;
    margin-left: 7px;
    max-width: 18px;
    max-height: 18px;
}

/* Media Queries */

@media screen and (max-width: 1100px) {

    form .mulitple-input .input-field {
        width: 48%;
    }

    .triple-input .input-field {
        width: 31%;
    }

}

@media screen and (max-width: 928px) {

    .triple-input .input-field {
        width: 48%;
    }
}

@media screen and (max-width: 827px) {

    .application-side {
        min-width: 60%;
    }

}

@media screen and (max-width: 700px) {
    .visualization-side {
        display: none;
    }

    form .mulitple-input {
        flex-direction: row;
    }
}

@media screen and (max-width: 516px) {
    .recruitment-form {
        min-width: 90%;
    }

    .application-side {
        min-width: 100%;
    }

    input {
        width: 100%;
    }

}

@media screen and (max-width: 395px) {

    form .mulitple-input .input-field {
        width: 100%;
    }

    .triple-input .input-field {
        width: 100%;
    }

}