@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --red:#e74c3c;
   --white:#fff;
   --black:#222;
   --light-color:#5d73ff34;
   --border:.2rem solid var(--black);
   --white:#ffffff;
   --blue:#00d2ff;
   --black:#333;
   --darkblue:#020079;
   --purple:#4b0068;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.514);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear;
}

*::selection{
   background-color: var(--blue);
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--blue);
   border-radius: 5rem;
}

section{
   width: 100%;
   margin:1 auto;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
}

.title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

.heading{
   background-color: var(--black);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;;
   flex-flow: column;
   min-height: 20rem;
}

.heading h3{
   font-size: 4rem;
   color:var(--white);
   text-transform: capitalize;
}

.heading p a{
   font-size: 2rem;
   color:var(--blue);
}

.heading p span{
   font-size: 2rem;
   color:var(--light-color);
}

.heading p a:hover{
   color:var(--white);
}

.header{
   position: sticky;
   top:0; left:0; right: 0;
   z-index: 1000;
   border-bottom: var(--border);
   background-color: var(--white);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .image-header{
   width: 10rem;
   height: 5rem;
   }
   

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   color:var(--blue);
}

.header .flex .icons > *{
   font-size: 2.5rem;
   color:var(--black);
   margin-left: 1.5rem;
   cursor: pointer;
}

.header .flex .icons > *:hover{
   color:var(--blue);
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

#menu-btn{
   display: none;
}

.home{
   padding-top: 3rem;
   padding-left: 20rem;
   min-height: 570px;
}

.container{
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
   width:100%;
   height:600px;
   padding:50px;
   background-color: #f5f5f5;
   /* box-shadow: 0 30px 50px #dbdbdb; */
   margin-top: auto;
}
#slide{
   width:max-content;
   margin-top:50px;
}
.item{
   width:200px;
   height:300px;
   background-position: 50% 50%;
   display: inline-block;
   transition: 0.5s;
   background-size: cover;
   position: absolute;
   z-index: 1;
   top:50%;
   transform: translate(0,-50%);
   border-radius: 20px;
   box-shadow:  0 30px 50px #505050;
   background-clip: var(--black);
   background-color: grey;
   background-blend-mode: multiply;

}
.item:nth-child(1),
.item:nth-child(2){
   left:0;
   top:0;
   transform: translate(0,0);
   border-radius: 0;
   width:100%;
   height:100%;
   box-shadow: none;
}
.item:nth-child(3){
   left:50%;
}
.item:nth-child(4){
   left:calc(50% + 220px);
}
.item:nth-child(5){
   left:calc(50% + 440px);
}
.item:nth-child(n+6){
   left:calc(50% + 660px);
   opacity: 0;
}

.content{
   position: absolute;
   top:50%;
   left:100px;
   text-align: left;
   padding:0;
   color:var(--white);
   transform: translate(0,-50%);
   font-family: system-ui;
   z-index: 1;
   display: inline-block;

}

.name{
   font-size: 60px;
   font-weight: bold;
   color: var(--white);
   opacity: 1;
}
.des{
   font-size: 20px;
   color: var(--white);
   font-style: italic;
   margin:20px 0;
   opacity: 1;
}
.button-reg{
   width: 30%;
   font-size: 15px;
   margin-top: 20px;
   border-radius: 20px;
   margin-left: 10px;
   padding:10px 20px;
   border:none;
   opacity: 1;
   cursor: pointer;
}

.button-reg:hover{
   scale: 110%;
   background-color: var(--darkblue);
   color: var(--white);
}
@keyframes showcontent{
   from{
       opacity: 0;
       transform: translate(0,100px);
       filter:blur(33px);
   }to{
       opacity: 1;
       transform: translate(0,0);
       filter:blur(0);
   }
}
.buttons{
   position: absolute;
   bottom:30px;
   z-index: 222222;
   text-align: center;
   width:100%;
   margin-right: 20px;
   padding-right: 50px;
}
.buttons button{
   width:50px;
   height:50px;
   border-radius: 50%;
   border:1px solid #555;
   transition: 0.5s;
   margin-right: 20px;
   cursor: pointer;
}
.buttons button:hover{
   background-color: var(--darkblue);
   color: var(--white);
}



/* Events Section */
.events {
   padding: 45px 0 90px;
   background-color: rgb(216, 216, 216);
}

.headline h1 {
   font-size: 48px;
   text-align: center;
   margin-bottom: 30px;
}





/* Workshops Section */
.workshops{
   padding: 40px 0;
}

.workshops-wrap{
   display: flex;
   flex-wrap: wrap;
   justify-content:space-evenly;
   margin-top: 60px;
}

.workshops-card{
   background-color: white;
   border-radius: 14px;
   width: 380px;
   height: 520px;
   box-shadow: -1px 15px 30px -12px black, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
   margin: 0 15px 60px;

   position: relative;
   display: inline-block;
   text-align: center;
   transition: 0.5s ease-out;
   cursor: pointer;

}

.workshops-card:hover{
   /* scale: 1.02; */
   transform: translateY(-25px);
   box-shadow: 0px 25px 30px -6px rgb(0, 87, 153), rgba(0, 139, 248, 0.6) 0px -3px 0px inset;
}

.workshop-image{
   width: 100%;
   height: 220px;
   margin-bottom: 25px;
}

.workshop-image img{
   width: 100%;
   height: 100%;
   border-radius: 14px;
   object-fit: cover;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.workshop-title{
   font-size: 26px;
   font-weight: 900;
   margin-bottom: 20px;
   position: relative;
}

.workshop-title::after{
   content: "";
   position: absolute;
   width: 40%;
   height: 3.5px;
   top: 30px;
   left: 30%;
   background: linear-gradient(90deg, rgba(15,143,170,1) 0%, rgba(10,59,110,1) 100%);
}

.workshop-description{
   padding: 0 15px;
   font-size: 16px;
   color: #808080;
}

.register-btn{
   position: absolute;
   bottom: 30px;
   width: 100%;
   text-align: center;
}

.register-btn button{
   background-color: rgba(15, 90, 170,0.8);
   border-radius: 5px;
   border-width: 0px;
   box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgba(10, 59, 110, 0.8) 0 -3px 0 inset;
   color: white;
   cursor: pointer;
   height: 40px;
   padding: 0 16px;
   transition: box-shadow .25s,transform .25s;
   touch-action: manipulation;
   font-size: 18px;
}

.register-btn button:hover {
   box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(10, 59, 110, 0.8) 0 -3px 0 inset;
   transform: translateY(-2px);
}

.register-btn button:focus {
   box-shadow: rgba(10, 59, 110, 0.8) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(10, 59, 110, 0.8) 0 -3px 0 inset;
}

.register-btn button:active {
   box-shadow: rgba(10, 59, 110, 0.8) 0 3px 7px inset;
   transform: translateY(2px);
}






/* About Section */

.about{
   margin-top: 20px ;
   height: 500px;
   position: relative;
   padding: 45px 0 90px;
}
.about-content{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   /* background-color: #e74c3c; */
   text-align: center;

}
.about-description{
   width: 1100px;
   font-size: 24px;
   line-height: 2;
   text-align: center;
   
}



.about-right-img{
   position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
  transform: translate(0, 50%);
  padding-top: 100px;
margin-left: -200px;
width: 342px;
height: 250px;
}

.categoryWrapper {
   position: relative;
   height: 320px;
   width: 10000px;
   background: url("http://ohlookawebsite.com/bathroomtestfull.jpg") no-repeat center center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;


}

.categoryWrapper:after {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(216, 216, 216,.4);

   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   /* IE6-9 fallback on horizontal gradient */
   content: '';
   opacity: 1;
   -webkit-transition: opacity 0.4s ease 0s;
   border-radius: 13px;

}

.categoryWrapper:hover:after {
   opacity: 1;
}

.categoryWrapper h1 {
   color: black;
   font-size: 48px;
   text-align: center;
  letter-spacing: 2px;
   -webkit-transition: all 0.15s ease 0s;
   position: relative;
   margin-bottom: 150px;
   z-index: 10;
}

.categoryWrapper:hover h1 {
   transform: translateY(-40px);
}

.categoryWrapper button {
   position: absolute;
   transform: translatey(60px);
   -webkit-appearance: none;
   border: none;
   background: none;
   color: black;
   width: 250px;
   height: 50px;
   font-size: 20px;
   padding: 0;
   margin: 0;
   outline: none;
   z-index: 10;
}

.categoryWrapper button span {
   display: block;
   position: relative;
   line-height: 30px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}


.categoryWrapper button>span:before {
   content: '';
   position: absolute;
   margin-bottom: 200px;
   width: 10px;
   border: 2px solid  black;
   border-right: none;
   border-bottom: none;
   border-left: none;
   border-top: no;
}

.categoryWrapper:hover button>span:before {
   width: calc(50% - 1px);
   height: calc(100% - 2px);
   transition: width 0.0001s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button>span>span:before {
   content: '';
   position: absolute;
   bottom: 0;
   right: 0%;
   width: 1px;
   height: 1px;
   opacity: 0;

}


.categoryWrapper button>span>span>span {
   color: transparent;
}

.categoryWrapper:hover button>span>span>span {
   color: black;
}

.categoryWrapper button:hover>span>span>span:after {
   width: 100%;
}


.categoryWrapper .question-mark {
   position: absolute;
   bottom: 100px;
   left: 50%;
   transform: translateX(-50%);
   width: 60px;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
   transition: opacity 0.3s ease;
}



.categoryWrapper:hover .question-mark {
   opacity: 0;
}

.categoryWrapper .question-mark i {
   color: white;
   font-size: 40px;
}

.categoryWrapper:hover .question-mark i {
   color: transparent;
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }


}

@media (max-width: 620px) {
   .categoryWrapper {
     height: 430px;  /* Adjust this value as needed */
   }
 
   .categoryWrapper h1 {
      margin-bottom:180px;
     font-size: 48px;  /* Adjust this value as needed */
   }
 

   .categoryWrapper .about-description {
     font-size: 14px; /* Adjust this value as needed */
     width: 350px; /* Adjust this value as needed */
   }
   .categoryWrapper button>span:before {
      content: '';
      position: absolute;
      margin-bottom: 250px;
      width: 10px;
      border: 2px solid  black;
      border-right: none;
      border-bottom: none;
      border-left: none;
      border-top: no;
   
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
   }
 }

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

   .header .flex .logo{
      font-size: 2rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }
   .categoryWrapper .about-description {
      max-width: 400px;
      font-weight:30px ; /* Adjust the maximum width for smaller screens */
   }
}


@media (min-width: 620px) and (max-width: 1010px) {
   .categoryWrapper {
     height: 400px;  /* Adjust this value as needed */
   }
 
   .categoryWrapper h1 {
     font-size: 48px;  /* Adjust this value as needed */
   }
 
   .categoryWrapper .about-description {
     font-size: 14px; /* Adjust this value as needed */
     max-width: 600px; /* Adjust this value as needed */
   }
 }
 
 @media (min-width: 220px) and (max-width: 300px) {
   .categoryWrapper {
     height: 800px;  /* Adjust this value as needed */
   }
 
   .categoryWrapper h1 {
     font-size: 35px;
     margin-bottom: 420px;  /* Adjust this value as needed */
   }
 
   .categoryWrapper .about-description {
     font-size: 14px; /* Adjust this value as needed */
     max-width: 200px; /* Adjust this value as needed */
   }
   .categoryWrapper button>span:before {
      content: '';
      position: absolute;
      margin-bottom: 520px;
      width: 10px;
      border: 2px solid  black;
      border-right: none;
      border-bottom: none;
      border-left: none;
      border-top: no;
   
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
   }
 }
 
 a.active::after {

   width: 100%;

}


.nav a:hover::after {

   width: 100%;

}
 
 
 
 
 