<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/addAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Add Admin</title>
</head>

<body>
    <div class="container">
        <div class="carry">
            <div class="content">
                <h2 class="welcome-statement">Add Admin</h2>

                <form class="form" action="#" method="POST">
                    <div class="input-field">
                        <label for="Name">Name:</label>
                        <input type="text" class="adminInput" id="name" name="Name" required>
                    </div>
                    <div class="input-field">
                        <label for="Email">Email:</label>
                        <input type="Email" class="adminInput" id="email" name="email" required>
                    </div>
                    <div class="input-field">
                        <label for="password">Password:</label>
                        <input type="password" class="adminInput" id="password" name="password" required>
                    </div>
                    <div class="input-field">
                        <label for="confirm-password">Confirm Password:</label>
                        <input class="adminInput" type="password" id="confirm-password" name="confirm-password"
                            required>
                    </div>
                    <div class="input-field">
                        <label for="role">Role:</label>
                        <select id="role" name="roles" id="role" required>
                            <option value="admin">Admin</option>
                            <option value="sub-admin">Sub Admin</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button class="submit" type="submit" id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Implementation -->
    <script src="/js/addAdmin.js"></script>
    <script src="/js/axiosRequest.js"></script>
</body>

</html>