<!DOCTYPE html>
<html>

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/adminPanel.css">

    <title>Admin page</title>
</head>

<body>
    <header>
        <h1>Admin Control Panel</h1>
    </header>
    <div class="panel">
        <!-- box info -->
        <div class="admin-container">
            <table action="#">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th id="EditPassword" hidden>Password</th>
                        <th></th>
                        <th></th>
                        <th id="lastcol"></th>
                        <!-- <th id="lastcol" hidden></th> -->

                    </tr>
                </thead>
                <tbody>
                    <!-- Add more rows here -->
                    <tr>
                        <td colspan="7">
                            <div class="btn add-new">
                                <button id="addAdminButton" value="">Add Admin</button>
                                <button id="addWorkshopButton" value="">Add Workshop</button>
                                <button id="addEventButton" value="">Add Event</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="logout-div">
                <button class="logout" id="logout">Log out</button>
            </div>
        </div>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Implementation -->
    <script src="/js/adminPanel.js"></script>
    <script src="/js/axiosRequest.js"></script>
</body>

</html>