<!DOCTYPE html>
<html>

<head>
    <title>Admin page</title>
    <link rel="stylesheet" href="/css/adminPanel.css">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <header>
        <h1>Admin Control Panel</h1>
    </header>
    <div class="panel">
        <!-- box info -->
        <div class="admin-container">
            <table action="#">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th id="EditPassword" hidden>Password</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Add more rows here -->
                    <tr>
                        <td colspan="7">
                            <div class="btn add-new">
                                <button id="addAdminButton" value="">Add Admin</button>
                                <button id="addWorkshopButton" value="">Add Workshop</button>
                                <button id="addEventButton" value="">Add Event</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Implementation -->
    <script src="/js/adminPanel.js"></script>
    <script src="/js/axiosRequest.js"></script>
</body>

</html>