<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/eventForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Create Event</title>
</head>

<body>
    <div class="container">
        <div class="carry">
            <div class="content">
                <h2 class="welcome-statement">Create Event</h2>

                <form class="form" action="#" method="POST" id="eventForm" enctype="multipart/form-data">

                    <div class="input-field">
                        <label for="Title">Title:</label>
                        <input type="text" class="adminInput" id="Title" name="title" required>
                    </div>

                    <div class="input-field">
                        <label for="dateInput">Select a date:</label>
                        <input type="date" class="adminInput" id="dateInput" name="date" required
                            pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}" placeholder="YYYY-MM-DD" />
                    </div>

                    <div class="input-field">
                        <label for="Description">Description:</label>
                        <textarea id="description" name="description" rows="8" cols="35"
                            placeholder="Type your description here..." class="adminInput "></textarea>
                    </div>

                    <div class="input-field">
                        <label for="backgroundImage">Background Image:</label>
                        <input type="file" id="backgroundImage" name="backgroundImage" required accept="image/*">
                    </div>

                    <div class="input-field">
                        <label for="foregroundImage">Foreground Image:</label>
                        <input type="file" id="foregroundImage" name="foregroundImage" required accept="image/*">
                    </div>

                    <label for="expired">Expired:</label>
                    <input type="checkbox" id="expired" name="expired">
                    <div class="form-actions">
                        <button class="submit" type="submit" id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Implementation -->
    <script src="/js/eventForm.js"></script>
    <script src="/js/axiosRequest.js"></script>
</body>

</html>