<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/forgotPassword.css">

    <title>Reset Password</title>
</head>

<body>
<div class="container">
    <div class="carry">
        <div class="content">
            <h2 class="welcome-statement">Reset Password</h2>
            <p class="description">
            Enter your email to reset your password

            </p>
            <form class="form" action="#" method="POST">
                <input type="email" name="email" placeholder="Asme@Example.com" required>
                <button type="submit">Submit</button>
            </form>
            <p class="alert">If you don't see the email in your inbox, check your spam folder.</p>
        </div>

    
    </div>


</div>
</body>

</html>