<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/forgetPassword.css">

    <title>Reset Password</title>
</head>

<body>
    <div class="container">
        <div class="carry">
            <div class="content">
                <h2 class="welcome-statement">Reset Password</h2>
                <p class="description">
                    Enter your email to reset your password
                </p>
                <form class="form" action="#" method="POST" id="form">
                    <input type="email" name="email" id="email" placeholder="Asme@Example.com" required>
                    <div class="submit">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                <p class="alert">If you don't see the email in your inbox, check your spam folder.</p>
            </div>
        </div>
    </div>
    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Implementation-->
    <script>
        const email = document.querySelector("#email");
        const form = document.querySelector("#form");

        form.addEventListener('submit', (event) => {

            event.preventDefault();

            axios.post(`/api/v1/auth/forgetPassword`, {
                email: email.value
            }).then(() => {

                window.location.href = '../templates/Vcodepage.html';

            }).catch((error) => {
                console.error(error.response.status);
                console.error(error.response.statusText);
                console.error(error.response.data);
            });
        });
    </script>
</body>

</html>