<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" href="/css/form.css"> -->
    <link rel="stylesheet" href="../static/css/form.css">


    <title>Recruitment Form</title>
</head>

<body>
    <div class="recruitment-form">

        <div class="visualization-side">
            <div class="logo">
                <!-- <img src="/images/asme-logo.png" alt=""> -->
                <img src="../static/images/asme-logo.png" alt="">
            </div>

            <div class="slogan">
                <p>Join Us Now</p>

                <div class="circle">
                    <h1><span>Gear</span><br /><span>The</span><br /><span>World</span></h1>
                    <!-- <img src="/images/gear_the_world.png" alt=""> -->
                    <img src="../static/images/gear_the_world.png" alt="">
                </div>

            </div>
        </div>

        <div class="application-side">
            <form id="form">
                <div class="input-field">
                    <label>Full Name</label>
                    <input type="text" required name="full-name" id="full-name" class="input">
                </div>

                <div class="input-field">
                    <label>Phone Number</label>
                    <input type="text" required name="phone-number" id="phone-number" class="input">
                </div>

                <div class="input-field">
                    <label>Email</label>
                    <input type="email" required name="email" id="email" class="input">
                </div>

                <div class="mulitple-input">
                    <div class="input-field">
                        <label>University</label>
                        <input type="text" required name="university" id="university" class="input">
                    </div>

                    <div class="input-field">
                        <label>Faculty</label>
                        <input type="text" required name="faculty" id="faculty" class="input">
                    </div>
                </div>

                <div class="mulitple-input">
                    <div class="input-field">
                        <label>Department</label>
                        <input type="text" required name="department" id="department" class="input">
                    </div>

                    <div class="input-field">
                        <label>Major</label>
                        <input type="text" required name="major" id="major" class="input">
                    </div>

                    <div class="input-field"></div>

                    <div class="input-field">
                        <label>Graduation Year</label>
                        <select class="input" name="graduation-year" id="graduation-year" required>
                            <option value="">Select a year</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                            <option>2027</option>
                        </select>
                    </div>
                </div>

                <div class="input-field">
                    <label>Position</label>
                    <input type="text" required name="position" id="position" class="input">
                </div>

                <div class="input-field">
                    <label>Previous Experience</label>
                    <textarea rows="4" placeholder="" name="previous-experience" id="previous-experience"
                        class="input"></textarea>
                </div>

                <div class="input-field">
                    <label>Comment</label>
                    <textarea rows="4" placeholder="" name="comment" id="comment" class="input"></textarea>
                </div>

                <div class="submit">
                    <!-- <button id="submit"> Submit <img src="/images/gear.png"></button> -->
                    <button id="submit"> Submit <img src="../static/images/gear.png"></button>
                </div>

            </form>
        </div>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- JS Implementation-->
    <script src="/js/form.js"></script>
    <script src="/js/axiosRequest.js"></script>

</body>

</html>