<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/form.css">

    <title>Recruitment form</title>
</head>

<body>
    <div class="recruitment-form">
        <div class="visualization-side">
            <div class="logo">
                <img src="/images/asme-logo.png" alt="">
            </div>

            <div class="slogan">
                <p>Join Us Now</p>

                <div class="circle">
                    <h1><span>Gear</span><br /><span>the</span><br /><span>World</span></h1>
                    <img src="/images/gear_the_world.png" alt="">
                </div>

            </div>
        </div>

        <div class="succession-side">
            <img src="/images/succession.png" alt="">
            <h1>All Done</h1>
            <p>Thank you for submitting your application.<br> We will respond as soon as possible.</p>

            <div class="back_home">
                <a href="https://asme-cusb.onrender.com/api/v1/home">Back to home <img src="/images/gear.png"></a>
            </div>
        </div>
    </div>

</body>

</html>