<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ASME</title>

   <link rel="stylesheet" href="../static/css/slider.css">

   <!-- Slider Import -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" rel="stylesheet" />

</head>
<body>

<section class="events">

   <div class="headline">
      <h1>Events</h1>
   </div>

   <div class="event-wrapper">

      <div class="event-content">

         <div class="event-bg-shape">
               <img src="../static/images/GeartheWorld.png" alt="">
         </div>

         <div class="event-img" id="event_pics">

         </div>


         <div class="event-slider">

               <button class="prev disabled">
                  <span class="slider-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M400-80 0-480l400-400 56 57-343 343 343 343-56 57Z"/></svg>
                  </span>
               </button>

               <button class="next">
                  <span class="slider-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m304-82-56-57 343-343-343-343 56-57 400 400L304-82Z"/></svg>
                  </span>
               </button>

               <div class="event-slider__wrp swiper-wrapper" id="event-slider">

               </div>

               <div class="swiper-pagination event-slider-panigation"></div>
               
         </div>
      </div>
   </div>




</section>














   <!-- Swiper -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>

   <script src="../static/js/slider.js"></script>



</body>
</html>